.languagepicker {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 110px;
    min-width: 110px;
    width: 100%;
    min-height: 30px;
    padding: 5px 0 14px;
}

.languagepicker a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.languagepicker>.active {
    position: relative;
    justify-content: center;
}
.languagepicker a .arrow {
    position: absolute;
    top: 50%;
    right: 12px;
    width: 5px;
    height: 5px;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #23282D;
    border-left: 1px solid #23282D;
    transform: rotate(-45deg);
}

.languagepicker:hover a .arrow {
    transform: rotate(135deg);
}

.languagepicker .languagepicker-dropduwn {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #23282D;
    border-radius: 4px;
    padding: 8px 8px 5px;
    z-index: 99;
}
.languagepicker:hover .languagepicker-dropduwn {
    display: block;
}
.languagepicker .languagepicker-dropduwn a.active {
    gap: 8px;
    margin-bottom: 8px;
    width: 100%;
}