.slot{
    position: absolute;
    top: 64px;
    left: 50%;
    transform: translateX(-50%);
    width: 1011px;
    height: 568px;
    /*background: url("../images/bg-slot.png");*/
}

.reels {
    display: flex;
    position: absolute;
    top: calc((100% - 463px) / 2);
    height: 441px;
    left: calc((100% - 700px) / 2);
    width: 696px;
    overflow: hidden;
    transition: opacity .5s ease;
    background-color: saddlebrown;
}

.reel {
    overflow: hidden;
    width: calc(100% / 6);
}

.reel > .icons {
    position: relative;
    height: 100%;
}

.reel > .icons > img {
    width: 100%;
    height: calc((100% / 5) - 3px);
    object-fit: contain;
    transform: translate3d(0, 0, 0);
}

#slot.inverted .reel {
    transform: scaleY(-1);
}

#slot.inverted .reel > .icons > img {
    transform: scaleY(-1);
}