* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

img {
    max-width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    min-height: 100%;
    width: auto;
    overflow-x: hidden;
    background: #000 url('../images/bg.jpg') no-repeat 50% 50%/cover;
}

#root {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

#root, main {
    flex: 1 0 auto;
}

/* Header */

.header {
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 54px;
    padding-top: 10px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
@media (max-width: 767px){
    .header__item {
        display: none;
    }
    .header .logo {
        width: 97px;
        height: 22px;
    }
}
@media (min-width: 640px){
    .container {
        max-width: 610px;
        padding: 0 15px;
    }
}
@media (min-width: 768px){
    .header {
        height: 64px;
        padding-top: 15px;
    }
    .container {
        max-width: 738px;
    }
}
@media (min-width: 992px){
    .container {
        max-width: 962px;
    }
}
@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1494px){
    .container {
        max-width: 1246px;
    }
}

/* Main */
.main {
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1 1 auto;
    z-index: 1;
    overflow: hidden;
    height: 100vh;
    padding-bottom: 80px;
}

/* Button */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 52px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    line-height: 20;
    font-weight: 500;
    cursor: pointer;
    align-self: flex-end;
}
.btn-play {
    position: absolute;
    background-color: #FFDC41;
    color: #1E1E28;
    animation: pulse 1s linear infinite;
}
.btn-play:before {
    content: '';
    position: absolute;
    display: block;
    width: 160px;
    height: 26px;
    border-radius: 8px;
    background: transparent;
    animation: increase 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(.9);
    }
    40% {
        transform: scale(1);
    }
}
@keyframes increase{
    0% {
        transform: scale(1);
        box-shadow: 0px 0px 1px #FFDC41;
        box-shadow: inset 0 0 1px #FFDC41;
    }
    50% {
        box-shadow: 0px 0px 3px  #FFDC41;
        box-shadow: inset 0 0 3px #FFDC41;
    }
    100% {
        transform: scale(2.5);
    }
}
